server:
  port: 5000
spring:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  data:
    mongodb:
      host: localhost
      port: 27017
      database: PRODUCTSDB
 # flyway:
 #   locations: classpath:db/migration
